<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>聚散如遇</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
        .layui-tab-title .layui-this { background-color:#009688; color: #eee;}
        .first-tab i.layui-tab-close{
            display:none!important;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <i class="layui-icon layui-icon-read"></i>
            开卷有益
        </div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:;" data-id="userProper" data-title="好友" data-url="/index/users/info" class="menuNvaBar">
                    <i class="layui-icon layui-icon-friends"></i> 好友
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:;" data-id="send" data-title="发送" data-url="/index/users/info">
                    <i class="layui-icon layui-icon-release"></i> 发送
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:;" data-id="search" data-title="搜索" data-url="/index/users/info" class="menuNvaBar">
                    <i class="layui-icon layui-icon-search"></i> 搜索
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-website"></i> 定位
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="beijing" data-title="基本资料" data-url="/index/users/info" class="menuNvaBar">
                        <i class="layui-icon layui-icon-location"></i> 北京
                    </a></dd>
                    <dd><a href="javascript:;" data-id="nanjing" data-title="基本资料" data-url="/index/users/info" class="menuNvaBar">
                        <i class="layui-icon layui-icon-location"></i> 南京
                    </a></dd>
                    <dd><a href="javascript:;" data-id="hangzhou" data-title="基本资料" data-url="/index/users/info" class="menuNvaBar">
                        <i class="layui-icon layui-icon-location"></i> 杭州
                    </a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="javascript:;" data-id="userProper" data-title="当前时间" data-url="/index/users/info" >
                    <i class="layui-icon layui-icon-loading"></i>
                    <span id="time" th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    tester
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="userProper" data-title="基本资料" data-url="/index/users/info" class="menuNvaBar">基本资料</a></dd>
                    <dd><a href="javascript:;" data-id="userSafe" data-title="安全设置" data-url="/index/users/password" class="menuNvaBar">更换密码</a></dd>
                    <dd><a href="javascript:;" data-id="about" data-title="关于" data-url="/index/about" class="menuNvaBar">关于</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="logout">退出</a></li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <!--<ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">menu group 1</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">menu 1</a></dd>
                        <dd><a href="javascript:;">menu 2</a></dd>
                        <dd><a href="javascript:;">menu 3</a></dd>
                        <dd><a href="">the links</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">menu group 2</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">list 1</a></dd>
                        <dd><a href="javascript:;">list 2</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
                <li class="layui-nav-item"><a href="">the links</a></li>
            </ul>-->
            <div class="navBar layui-side-scroll" id="navBarId"></div>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="tab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="first-tab layui-this">主页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show"  >
                    <iframe th:src="@{/index/main}" frameborder="0" name="content" width="100%" id="home"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>
<script th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/home.js}" ></script>
<script>
    let layer = layui.layer;
    let $ = jQuery = layui.jquery;
    let form = layui.form;
    let element = layui.element;
</script>
</body>
</html>